certifi==2020.12.5
chardet==4.0.0
click==7.1.2
configparser==5.0.1
dataclasses==0.8
docker-pycreds==0.4.0
gitdb==4.0.5
GitPython==3.1.11
idna==2.10
numpy==1.19.4
Pillow==8.0.1
pkg-resources==0.0.0
promise==2.3
protobuf==3.18.3
psutil==5.8.0
python-dateutil==2.8.1
PyYAML==5.3.1
requests==2.25.1
scipy==1.5.4
sentry-sdk==0.19.5
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
subprocess32==3.5.4
torch==1.7.1
torchvision==0.8.2
typing-extensions==3.7.4.3
urllib3==1.26.2
wandb==0.10.12
watchdog==1.0.2
